/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #b1b1b1;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: white;
}

body {
  color: #fff;
  text-align: center;
  background-image: url("assets/img/layer-5.jpg");
  background-repeat: repeat-x;
  font-family: CeraGR, sans-serif, serif;
}

@font-face {
  font-family: CeraGR;
  src: url(assets/cera/Cera%20GR.otf);
}

@font-face {
  font-family: CeraGRThin;
  src: url(assets/cera/Cera%20GR%20Thin.otf);
}

@font-face {
  font-family: CeraGRLight;
  src: url(assets/cera/Cera%20GR%20Light.woff);
}

@font-face {
  font-family: GothamLight;
  src: url(assets/gotham/GOTHAM-LIGHT.TTF);
}

@font-face {
  font-family: GothamMedium;
  src: url(assets/gotham/GOTHAM-MEDIUM.TTF);
}


.logoText {
  color: white;
  /*font-family: Metacert;*/
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 19px;
}

.navLinks {
  font-family: CeraGRThin, sans-serif, serif;
  width:65px;
  height: 14px;
  color: white;
  font-size: 15px;
  font-weight: 400;

}
.tagLine {
  color: white;
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 15px;
}

.iconCluster {
  margin-right: 15px;
}
.leadOne {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 5px !important;
}
.leadTwo {
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.leadThree, .leadFour  {
  font-family: CeraGRThin, sans-serif, serif;
  letter-spacing: 1px;
  color: #ededed;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 2px;
}
.specTextColor {
  color: #3dba91
}
.addBtnTxt {
  color: #2a2a2a;
  font-size: 15px;
  font-weight: 400;
  margin: 35px 0 25px 0;
}
.footerText{
  font-family: GothamMedium, sans-serif, serif;
  color: #b1b1b1;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  margin: 10px 0 0 0 !important;
}
.footerLink{
  margin-left: 25px;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 700px;*/
    width: 100%;
  }
}

/*  ~!~~~~~~~~~~~~~~~  MEDIA QUERY  ~~~~~~~~~~~~~~~~~~~~~  */

@media (max-width: 768px){

  .tagLine {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .leadOne {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 25px !important;
  }

  .leadTwo {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .leadThree, .leadFour  {
    letter-spacing: 0 !important;
    font-size: 12px !important;
    line-height: 15px;
    margin-bottom: 0 !important;
  }
  .addBtnTxt {
    font-size: 15px !important;
    margin: 15px 0 25px 0 !important;
  }

  .footerLink{
    margin-left: 5px !important;
  }
  .alter {
    display: none;
  }

  body {
    /*background-repeat: repeat-y !important;*/
    background-color: black;
  }

}